@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('font/pretendard/Pretendard-Regular.eot');
    src: url('font/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('font/pretendard/Pretendard-Medium.eot');
    src: url('font/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('font/pretendard/Pretendard-Bold.eot');
    src: url('font/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url(' font/pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard';
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    /* overflow: hidden; */
}
.header .header_wrap {
    height: 100%;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    /* background-color: lightcoral; */
}
.header .header_wrap .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header_wrap .inner .logo {
    width: 122px;
    height: 28px;
}
.header .header_wrap .inner .logo a {
    width: 100%;
    height: 100%;
}
.header .header_wrap .inner .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .header_wrap .inner .icon {
    display: flex;
    align-items: center;
}
.header .header_wrap .inner .icon .search {
    width: 268px;
    height: 50px;
    display: flex;
    position: relative;
    /* background-color: aqua; */
}
.header .header_wrap .inner .icon .search .search_input {
    width: 200px;
    height: 50px;
    border: 1px solid #00469b;
    border-radius: 40px;
    background-color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 15px;
    display: none;
}
.header .header_wrap .inner .icon .search>a {
    height: 100%;
    align-content: center;
    margin-right: 30px;
    display: block;
    align-content: center;
    /* background-color: antiquewhite; */
}
.header .header_wrap .inner .icon .search .icon_search {
    height: 23px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}
.header .header_wrap .inner .icon .menu {
    height: 100%;
    width: 30px;
    /* background-color: aqua; */
}
.header .header_wrap .inner .icon .menu:hover .header {
    height: 510px;
}
.header .header_wrap .inner .icon .menu:hover .nav {
    top: 80px;
    height: 430px;
    opacity: 1;
    padding: 30px;
    /* background-color: antiquewhite; */
}
.header .header_wrap .inner .icon .menu:hover .nav .gnb {
    display: flex;
}
.header .header_wrap .inner .icon .menu>a {
    width: 30px;
    height: 80px;
    display: block;
    align-content: center;
}
.header .header_wrap .inner .icon .menu>a img {
    width: 30px;
    height: 23px;
    object-fit: cover;
}
.header .header_wrap .inner .icon .menu .nav {
    width: 1440px;
    height: 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    right: 0;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.9);
    border: #00469b 2px solid;
    transition: 0.8s;
    opacity: 0;
}
.header .header_wrap .inner .icon .menu .nav .gnb {
    margin: 0 auto;
    width: 800px;
    height: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    display: none;
}
.header .header_wrap .inner .icon .menu .nav .gnb .depth01 {
    width: 170px;
    height: 30px;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: #00469b 2px solid;
    font-size: 18px;
    font-weight: bold;
    color: #00469b;
}
.header .header_wrap .inner .icon .menu .nav .gnb .depth02 li {
    width: 170px;
    height: 20px;
    margin: 0 0 15px;
    display: block;
}
.header .header_wrap .inner .icon .menu .nav .gnb .depth02 li:hover {
    font-weight: bold;
    text-decoration: underline;
}

.header .header_wrap .inner .icon .menu .nav .eng {
    border: #00469b 1px solid ;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: -290px;
    width: 50px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: #00469b;
    transition: 0.3s;
}
.header .header_wrap .inner .icon .menu .nav .eng:hover {
    background-color: #00469b;
    color: #fff;
}
.main_visual {
    margin-top: 80px;
    height: 860px;
    width: 100%;
    position: relative;
}
.main .main_visual img {
    height: 860px;
    width: 100%;
    object-fit: cover;
}
.main .main_visual .visual_text {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    /* position이 있다면 margin 0 auto를 못쓰기 때문에 transform*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
	color: black;
	background-color: white;
    white-space: nowrap;
    overflow: hidden;
}
.main .main_visual .visual_text .rolling1 {
    font-size: 737px;
    line-height: 860px;
    background-color: #fff;
    color: #000;
    animation: rolling1 30s 1s infinite linear;
    font-family: "Geologica", sans-serif;
}
.main .main_visual .visual_text .rolling2 {
    font-size: 737px;
    line-height: 860px;
    background-color: #fff;
    color: #000;
    animation: rolling2 30s 1s infinite linear;
    font-family: "Geologica", sans-serif;
}

@keyframes rolling1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
    }
@keyframes rolling2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
    }


.main .main_visual p {
    width: 1440px;
    font-size: 24px;
    position: absolute;
    top: 108px;
    left: 50%;
    transform: translateX(-50%);
}

.cont01 {
    text-align: center;
}
.cont01 h3 {
    font-size: 120px;
    font-weight: 500;
    margin: 30px auto 100px;
}
.cont01 ul {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 45px;
}
.cont01 ul li {
    font-size: 30px;
}
.cont01 ul li:hover {
    font-weight: bold;
    text-decoration-line: underline;
}

.cont01 .list {
    display: flex;
    justify-content: center;
    width: 2050px;
    height: 580px;
    margin: 0 auto 250px;
    gap: 45px;
    /* background-color: aliceblue; */
    position: relative;
    left: -69px;
}
.cont01 .list .item {
    width: 480px;
    height: 580px;
    position: relative;
    border-radius: 24px;
    box-shadow: 4px 4px 15px 5px rgba(107, 114, 128, 0.3);
}
.cont01 .list .item::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: 0.7s;
}
.cont01 .list .item:hover {
    box-Shadow: 4px 4px 15px 5px rgba(107, 114, 128, 0.5);
    transform: translateY(-0.25rem);
    transition: transform 0.1s ease-in-out;
}
.cont01 .list .item:hover a {
    opacity: 1;
}
.cont01 .list .item:hover::before {
    opacity: 1;
}
.cont01 .list .item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.cont01 .list .item a {
    width: 23px;
    height: 22px;
    position: absolute;
    top: 40px;
    right: 40px;
    opacity: 0;
}
.cont01 .list .item a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 .list .item strong {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 30px;
    color: #fff;
}

.cont02 {
    text-align: center;
}
.cont02 h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.cont02 .div_wrap {
    width: 1440px;
    height: 1260px;
    position: relative;
    margin: 0 auto 250px;
}
.cont02 .div_wrap .item_wrap {
    position: absolute;
}
.cont02 .div_wrap .item_wrap>div {
    width: 464px;
    border-radius: 24px;
    position: relative;
    box-shadow: 4px 4px 15px 5px rgba(107, 114, 128, 0.3);
    line-height: 1.6;
}
.cont02 .div_wrap .item_wrap>div:hover {
    box-Shadow: 4px 4px 15px 5px rgba(107, 114, 128, 0.5);
    transform: translateY(-0.25rem);
    transition: transform 0.1s ease-in-out;
}
.cont02 .div_wrap .item_wrap>div:hover .divtext img {
    transform: rotate(360deg);
    transition: 0.3s;
}
.cont02 .div_wrap .item_wrap>div a {
    height: 100%;
}
.cont02 .div_wrap .item_wrap>div a>img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: #888 1px solid; */
    border-radius: 24px;
}
.cont02 .div_wrap .item_wrap>div .divtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    align-items: center;
}
.cont02 .div_wrap .item_wrap>div:hover .divtext {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap>div:hover .divtext img {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap>div .divtext strong {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}
.cont02 .div_wrap .item_wrap>div .divtext img {
    width: 32px;
    height: 31px;
    object-fit: cover;
}
.cont02 .div_wrap .item_wrap .divitem1 {
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}
.cont02 .div_wrap .item_wrap .divitem1::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem1:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap .divitem2 {
    height: 350px;
    position: absolute;
    top: 530px;
    left: 0;
}
.cont02 .div_wrap .item_wrap .divitem2::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem2:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap .divitem3 {
    height: 350px;
    position: absolute;
    top: 910px;
    left: 0;
}
.cont02 .div_wrap .item_wrap .divitem3::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem3:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap .divitem4 {
    height: 615px;
    position: absolute;
    top: 0;
    left: 488px;
}
.cont02 .div_wrap .item_wrap .divitem4::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem4:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap .divitem5 {
    height: 615px;
    position: absolute;
    top: 645px;
    left: 488px;
}
.cont02 .div_wrap .item_wrap .divitem5::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem5:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap .divitem6 {
    height: 350px;
    position: absolute;
    top: 0;
    left: 976px;
}
.cont02 .div_wrap .item_wrap .divitem6::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem6:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap .divitem7 {
    height: 386px;
    position: absolute;
    top: 380px;
    left: 976px;
}
.cont02 .div_wrap .item_wrap .divitem7::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 24px;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem7:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap .divitem8 {
    height: 467px;
    position: absolute;
    top: 796px;
    left: 976px;
    border-radius: 50%;
}
.cont02 .div_wrap .item_wrap .divitem8::before {
    content: '';
    width: 90%;
    height: 90%;
    border: #ffffff2a 1px solid;
    border-radius: 50%;
    background-color: #00469ba9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: 0.7s;
}
.cont02 .div_wrap .item_wrap .divitem8:hover::before {
    opacity: 1;
}
.cont02 .div_wrap .item_wrap:nth-child(8) a img {
    border-radius: 50%;
    border: #888 1px solid;
}

.cont03 {
    width: 1440px;
    height: 900px;
    margin: 0 auto 250px;
}
.cont03 .box {
    height: 450px;
    display: flex;
    justify-content: space-between;
    /* background-color: #888; */
}
.cont03 .box a {
    height: 100%;
    width: 720px;
    border-radius: 24px;
    box-shadow: 4px 4px 15px 5px rgba(107, 114, 128, 0.3);
}
.cont03 .box a img {
    height: 100%;
    width: 100%;
    border-radius: 24px;
}
.cont03 .box .text {
    width: 720px;
    height: 100%;
    padding: 50px;
    font-size: 25px;
    box-sizing: border-box;
    line-height: 1.45;
}
.cont03 .box .text h5 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #00469b;
}
.cont03 .box:nth-child(2) .text {
    text-align: right;
}
.cont03 .box:hover a img {
    box-Shadow: 4px 4px 15px 5px rgba(107, 114, 128, 0.5);
    transform: translateY(-0.25rem);
    transition: transform 0.1s ease-in-out;
}

footer {
    color: #00469b;
    text-align: center;
}
footer>a {
    height: 45px;
}
footer>a img {
    height: 45px;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer ul li {
    padding: 30px 30px 40px;
}
footer .text {
    display: flex;
    gap: 20px;
    justify-content: center;
}
footer .text a {
    height: 17px;
}
footer .text a img {
    height: 100%;
}
footer>p {
    font-size: 14px;
    margin: 15px 0 100px;
}